<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Soccer data - <%=competition%></title>
  </head>
  <body>
    <h1 class="text-center"><%=competition%> <img src="<%=logo%>" width="auto" height="40" class="d-inline-block align-middle" alt="" loading="lazy"></h1>
    <div class="container pagination justify-content-center" style="margin: auto;">
      <a class="btn btn-primary" href="/" role="button" style="margin: 5px 10px 10px 10px;">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
      </svg>
      </a>
      <a class="btn btn-primary" href="/<%=code%>" role="button" style="margin: 5px 10px 10px 10px;">Classifica</a>
      <a class="btn btn-primary" href="/<%=code%>/stats" role="button" style="margin: 5px 10px 10px 10px;">Marcatori</a>
      <a class="btn btn-primary" href="/<%=code%>/matches" role="button" style="margin: 5px 10px 10px 10px;">Calendario</a>
  </div>
    <table class="table" style="width: 80%; margin: auto;">
        <thead>
          <tr>
            <th scope="col">Pos</th>
            <th scope="col">Squadra</th>
            <th scope="col">PG</th>
            <th scope="col">W</th>
            <th scope="col">D</th>
            <th scope="col">L</th>
            <th scope="col">GF</th>
            <th scope="col">GS</th>
            <th scope="col">DG</th>
            <th scope="col">Punti</th>
          </tr>
        </thead>
        <tbody id="table-body"></tbody>
      </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javaScript">
            const teams = `<%=teams%>`.split(",")
            const tablebody = document.getElementById("table-body")
            const points = `<%=points%>`.split(",")
            const gameplayed = `<%=gameplayed%>`.split(",")
            const won = `<%=won%>`.split(",")
            const draw = `<%=draw%>`.split(",")
            const lost = `<%=lost%>`.split(",")
            const goalsfor = `<%=goalsfor%>`.split(",")
            const goalsagainst = `<%=goalsagainst%>`.split(",")
            const goalsdiff = `<%=goalsdiff%>`.split(",")
            teams.forEach((element, index) => {
                const tr = document.createElement("tr")
                const th = document.createElement("th")
                th.setAttribute("scope", "row")
                th.innerHTML = index + 1
                tr.appendChild(th)
                const teamtd = document.createElement("td")
                teamtd.innerHTML = element
                const gametd = document.createElement("td")
                gametd.innerHTML = gameplayed[index]
                const wontd = document.createElement("td")
                wontd.innerHTML = won[index]
                const drawtd = document.createElement("td")
                drawtd.innerHTML = draw[index]
                const losttd = document.createElement("td")
                losttd.innerHTML = lost[index]
                const goalsfortd = document.createElement("td")
                goalsfortd.innerHTML = goalsfor[index]
                const goalsagainsttd = document.createElement("td")
                goalsagainsttd.innerHTML = goalsagainst[index]
                const goalsdifftd = document.createElement("td")
                goalsdifftd.innerHTML = goalsdiff[index]
                const pointtd = document.createElement("th")
                pointtd.innerHTML = points[index]
                tr.appendChild(teamtd)
                tr.appendChild(gametd)
                tr.appendChild(wontd)
                tr.appendChild(drawtd)
                tr.appendChild(losttd)
                tr.appendChild(goalsfortd)
                tr.appendChild(goalsagainsttd)
                tr.appendChild(goalsdifftd)
                tr.appendChild(pointtd)
                tablebody.appendChild(tr)
            })
        </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>