<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/tablestats-style.css">

    <title>Soccer data - <%=competition%></title>
  </head>
  <body>
    <h1 class="text-center"><%=competition%> <img src="<%=logo%>" width="auto" height="40" class="d-inline-block align-middle" alt="" loading="lazy"></h1>
    <div class="container pagination justify-content-center" style="margin: auto;">
      <a class="btn btn-primary" href="/" role="button">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
      </svg>
      </a>
      <a class="btn btn-primary" href="/<%=code%>" role="button">Classifica</a>
      <a class="btn btn-primary" href="/<%=code%>/stats" role="button">Marcatori</a>
      <a class="btn btn-primary" href="/<%=code%>/matches" role="button">Calendario</a>
  </div>
    <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">Pos</th>
            <th scope="col">Nome</th>
            <th scope="col">Squadra</th>
            <th scope="col">Goal</th>
          </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
    <script type="text/javaScript">
        const players = `<%=playersnames%>`.split(",")
        const teams = `<%=playersteams%>`.split(",")
        const goals = `<%=playersgoals%>`.split(",")
        const tablebody = document.getElementById("table-body")
        players.forEach((element, index) => {
            const tr = document.createElement("tr")
            const th = document.createElement("th")
            th.setAttribute("scope", "row")
            th.innerHTML = index + 1
            const playertd = document.createElement("td")
            playertd.innerHTML = element
            const teamtd = document.createElement("td")
            teamtd.innerHTML = teams[index]
            const goaltd = document.createElement("th")
            goaltd.innerHTML = goals[index]
            tr.appendChild(th)
            tr.appendChild(playertd)
            tr.appendChild(teamtd)
            tr.appendChild(goaltd)
            tablebody.appendChild(tr)
        });
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>